.home-header {
  background-color: #4881d6;
}

.home-title {
  margin: 10px 0;
  padding-left: 1em;
  color: whitesmoke;
}

.page-title {
  margin: 10px 0px;
  padding-left: 1em;
  color: grey;
 }

.page-content {
  padding: 4em 0;
}

.btn-logout {
  background-color: #d16c6c;
  color: whitesmoke;
}

.command-number {
  color: whitesmoke;
}

.logout-command-div {
  
}

.not-centered-text {
  text-align: unset;
}
.command-div {
  display: inline-block;
  margin: 0.2em;
}

.button-command-div{
  display: inline-block;
  margin-top: 0.35em;
}

.command-header {
  vertical-align: middle;
}

.goodies-part {
  
}

.events-part {
}

.Login {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
}

.part-title {
  margin-top: 0px;
  padding-top: 10px
}

.fill { 
  
  min-height: 100%;
  height: 100%;
  box-sizing:border-box;
}

.goody-card {
  padding: 1em;
  margin: 1em 0 ;
  border:1px dotted black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.goody-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
  font-size: 1.5em !important;
  font-weight: bold !important;
}

.card-text {
}

.div-title {
  padding: 0 0;
  margin: 1em 1em 1em 1em;
  border-bottom: 1px dotted grey;
}

.event-date {
  margin-left: 0.4em;
}

.goody-description {
  height: 3em;
}